<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WaterBillingSystemUI.Properties.Settings.WaterBillingSystemConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WaterBillingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WaterBillingSystemUI.Properties.Settings.WaterBillingSystemConnectionString"
      connectionString="Data Source=MPDC\SQLEXPRESS;Initial Catalog=WaterBillingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WaterBillingSystemEntities" connectionString="metadata=res://*/ModelAngilan.csdl|res://*/ModelAngilan.ssdl|res://*/ModelAngilan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MPDC\SQLEXPRESS;initial catalog=WaterBillingSystem;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WaterBillingSystemUI.Properties.Settings.WaterBillingSystemConnectionString1"
      connectionString="Data Source=CHIANTINE-PC\SQLEXPRESS;Initial Catalog=WaterBillingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WaterBillingSystemUI.Properties.Settings.WaterBillingSystemConnectionString2"
      connectionString="Data Source=ENGINEERING\SQLEXPRESS;Initial Catalog=WaterBillingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WaterBillingSystemUI.Properties.Settings.WaterBillingSystemConnectionString3"
      connectionString="Data Source=CHIANTINE-PC\XCHANMOLX;Initial Catalog=WaterBillingSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>